label {
  width: 100px;
  display: inline-block;
}
.container {
 position: relative;
 text-align: center;
 color: black;
 
}
img {
 height: 30%;
 float: center;
 opacity: 0.6;
 
}
.form {
 position: absolute;
 bottom: 30%;
 left: 30%;
 font-size: xx-large;
}
div {
  margin: 5px;

}
button {
 background-color: green;
 border-radius: 10px;
 font-size: 20px;
 height: 40px;
 width: 120px; 
 margin-left: 100px;
}